.debug-panel {
	color: black;
	margin: 10px 0;
	padding: 10px;
	background-color: #fafafa;
	border: 1px solid #aaa;
}
.debug-panel hr {height: 1px; background-color: #eee; border: none;}
.debug-panel h4 {margin-top: 25px}

table td{ border: 1px solid gray; padding: 2px 0.5em; color: black;}
table td a:link, table th a:link, table td a:visited {color: #00f}
table th{ border: 1px solid gray; padding: 2px 0.5em; background-color: black;}

.adminmenu {background-color: #000; padding: 10px;}
.adminmenu span {padding-right: 4em}
.adminmenu .select {font-weight: bold}

a img {border: none;}

form  {width: 600px; margin: 5px auto; border: 1px solid #f0f0f0; padding: 3px}

form div {
	color: black;
	background-color: #f7f7f7;
	padding: 10px 5px; 
	border-top: 1px dashed #eaeaea;
}

form input, textarea, select {
	width: 350px;
}
textarea {
	height: 30px; 
	width:100%;
	overflow:hidden;
}

label {float: left; width: 150px;}